*.sqlite
*.sqlite-journal
.buildpath
.project
/.settings/
.idea
/nbproject/
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.swp
.*.swp
*~
*.out
*.log
.vagrant
data/files
data/cache
data/config.php
*.bak
node_modules